<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kernel Mamadou Konate">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/unicons.css">
    <link rel="stylesheet" href="public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="public/css/tooplate-style.css">
    <!--Template Stylesheet -->
    <link href = "public/fontawesome/css/all.css" rel = "stylesheet">
    <link href = "public/css/font-awesome.min.css" rel = "stylesheet">
    <link href = "public/css/font-awesome.min.css" rel = "stylesheet">
  </head>
  <body>

    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
        <div class="container">
            <a class="navbar-brand" href="index.php"><i class='uil uil-user'></i> Kernel_MK</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a href="#about" class="nav-link"><span data-hover="A Propos">A Propos</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#project" class="nav-link"><span data-hover="Projets">Projets</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#resume" class="nav-link"><span data-hover="Résume">Résume</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link"><span data-hover="Contacts">Contacts</span></a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Nuit/Jour
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ABOUT -->
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Bienvenu sur <span class="mobile-block">mon portfolio!</span></small>
                        <h1 class="animated animated-text">
                            <span class="mr-2">Salut, Je suis</span>
                                <div class="animated-info">
                                    <span class="animated-item " style="font-size: 31px" >Mamadou Konate</span>
                                    <span class="animated-item " style="font-size: 31px" >Développeur Web</span>
                                    <span class="animated-item " style="font-size: 28px" >Data Analyste & Développeur Data IA</span>
                                </div>
                        </h1>

                        <p>Je suis konate Mamadou, j'ai un BTS en Informatique Développeur d'Application et 
                        des certificats en (Intelligence Artificiel, JavaScript, Windev, CSS, HTML).
                        <br>Je suis à Abidjan plus précisement à Abobo N'dotré et je suis membre 
                        du GDG YAMOUSSOUKRO qui est une Communauté des Google Développeurs Group.</p>
                        
                        <div class="custom-btn-group mt-4">
                          <a href="#" class="btn mr-lg-2 custom-btn"><i class='uil uil-file-alt'></i> Mon Profile linkdin</a>
                          <a href="#contact" class="btn custom-btn custom-btn-bg custom-btn-link">Démande de devis</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="public/images/undraw/0.jpg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>Mes Projets réalisés</h2>
                      </div>
                        <br><br>
                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <iframe width="80%" height="620" src="https://so-am.org"></iframe>
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <iframe width="80%" height="620" src="https://trajectoire.so-am.org"></iframe>
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <iframe width="80%" height="620" src="https://vitenetteservice.so-am.org"></iframe>
                          </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Responsable Informatique<small> à OHLM S.A (Office des HLM d'Abidjan)</small></h4>
                                <p>je m'occupe de la conception des sites internets,applications, maintenance Informatique et le reseau Informatique.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2021</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Technicien Electronique</span><small>à First Security Electronic</small></h4>
                                <p>J'etais chargé à faire le test des équipements Electronique et la suivie des maintenance des applications.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2020</span>
                            </div>
                            <div class="timeline-info">
                                <h4><span>Développeur Windev</span><small>à Dianoch</small></h4>
                                <p>J'étais chargé de concevoir les applications desktop des clients à l'aide du W-lange(Windev).</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h4><span>Data Analyste</span><small>à SFI Group</small></h4>
                                  <p>chargé de faire l'analyse des données avec excel et faire un rapport en powerpoint.</p>
                             </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>CERTIFICAT EN ML</span><small>Machine Learning avec Python</small></h3>
                                <p><a rel="nofollow" href="https://www.udemy.com/tooplate">Udemy</a>Apprentissage de débutant en expert.</p>
                            </div>
                        </div>

                         <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2022</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>CERTIFICAT EN IA </span><small>Intelligence Artificiel</small></h3>
                                <p>Une formation qui a été finance par l'agence emploi jeune et centre de formation Ivoire Geek School.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2019</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>BTS IDA</span><small>Informatique Développeur d'Application</small></h3>
                                <p>tTechnicien superrieur en Informatique Développeur D'Application</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2016</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>BAC F2</span><small>Electronique</small></h3>
                                  <p>Baccaloreat en Electronique.</p>
                             </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">
            <div class="google-map w-100">
              <iframe src="http://www,kmk.so-am.org" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h4 class="mb-3 text-white"><i class="fa fa-user"></i> Kernel Mamadou Konate</h4>
                  <p class="footer-text mb-0"><i class="fa fa-phone-alt"></i> +225 0748 1357 17<br> +225 0586 7874 58</p>
                  <p><a href="mailto:kernel0748@gmail.com"><i class="fa fa-envelope"></i> kernel0748@gmail.com</a></p>
                </div>

                {# <ul class="social-links">
                     <li><a href="#" class="fa fa-" data-toggle="tooltip" data-placement="left" title="Dribbble"></a></li>
                     <li><a href="#" class="fa fa-phone" data-toggle="tooltip" data-placement="left" title="Instagram"></a></li>
                     <li><a href="#" class="fa fa-envelope" data-toggle="tooltip" data-placement="left" title="Youtube"></a></li>
                </ul> #}
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Envoie moi un email pour demander l'un de mes services</h2>

              <form action="" method="get">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Votre Nom et Prénom" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Messages"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Envoyer">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
        <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright © <script>document.write(new Date().getFullYear());</script> Kernel_MK | Tous droits réservés </p>
                    </div>
                    
                </div>
            </div>
        </footer>

    <script src="public/js/jquery-3.3.1.min.js"></script>
    <script src="public/js/popper.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/Headroom.js"></script>
    <script src="public/js/jQuery.headroom.js"></script>
    <script src="public/js/owl.carousel.min.js"></script>
    <script src="public/js/smoothscroll.js"></script>
    <script src="public/js/custom.js"></script>

  </body>
</html>